<footer class="mx-auto text-mauveDark-mauve8 text-sm">
  <p class="text-center">
    <span>&copy; {new Date().getFullYear()}</span>
     &bull;
    <span>This website uses Cloudflare Web Analytics</span>
  </p>
</footer>
